<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #f0f0f0; padding: 0; margin: 0;">
        <div align="left" style="width: 100%; margin: auto;">

            <div style="width: 100%; height: 150px; background :url('https://www.feed-red.com/Assets/Login/images/redac.jpg'); background-size: 100%;">
                <div style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.1); padding: 10px; color: white;">
                    <p style="text-align: center; width: 90%; margin: auto; font-size: 10px;">
                        <span style="font-size: 4rem; font-weight: bold; color: #f7efc3;">FeedRed</span>
                        <br>
                        <!-- Nous mettons à profit notre expertise pour vous fournir des articles d'excellente qualité en très peu de temps ! -->
                    </p>
                </div>
            </div>

            <div style="padding: 19px; background-color: #fffceb;">
                <p>
                    <span style="font-size: 20px; ">Bonjour cher rédacteur !</span>
                    <br>
                    <span style="font-size: 20px; ">De nouveaux articles sont disponible sur <a href="https://feed-red.com" style="color: blue; text-decoration: none;">FeedRed</a>.</span>
                    <br>
                    <span style="font-size: 20px; ">Vous pouvez commencer par explorer dès maintenant.</span>
                </p>

                <div align="center">
                    <a href="https://feed-red.com/home.html">
                        <button style="background-color: #073c92; color: #f7efc3; border: none; padding: 10px; padding-left: 30px; padding-right: 30px; font-weight: bold; border-radius: 5px;">
                            EXPLORER
                        </button>
                    </a>
                </div>

            </div>

            <div align="center" style="background-color: #073c92; padding: 20px; font-size: 17px; color: #f7efc3;">
                Par Feed Agency
                <p style="font-size: 12px;">
                    Ceci est un email d'information. Aucune réponse n'est donc pas attendue !
                    <br>
                    Pour une préoccupation donnée, veuillez contacter le webmaster !
                </p>
            </div>
            
        </div>
    </body>
</html>